
/*------------------------------ FORMATING ----------------------------------*/
a {
  color: white;
  text-decoration: none;
}

body {
  background: #D2D2D2;
  font-family: Arial, serif;
  margin: 0;
}

footer {
  background: white;
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
}

h1 {
  margin: 0;
}

h3 {
  margin: 0;
}

header {
  background: black;
  color: white;
  font-family: Arial, serif;
  margin: 0;
  padding: 0.67em;
}

input {
  font-size: 1.3em;
  height: 30px;
  width: 283px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#formcontainer {
  text-align: center;
  margin-bottom: 25px;
}

#footer-container {
  background: #D2D2D2;
  color: black;
  padding-left: 40px;
  padding-top: 6px;
  padding-bottom: 6px;
}

#page-name-container {
  text-align: center;
  margin-top: 15px;
}

#page-name {
  display: inline-block;
  background: #EEEEEE;
  margin: 30px;
  font-size: 1.7em;
  padding: 9px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 10px;
}

#reset {
  font-size: 1.3em;
  width: 140px;
  height: 40px;
}

#send {
  width: 120px;
  font-size: 1.3em;
  width: 140px;
  height: 40px;
  margin-right: 10px;
}

#signout {
  color: #FFCCCC;
  font-weight: bold;
  font-size: 1.3em;
}

#walkingclub {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

.center {
  text-align: center;
}

/*---------------------------------------------------------------------------*/

/*-------------------------- DISPLAY AND POSITIONING ------------------------*/
/* sets the footer 10px before the end of the page */
footer {
  position: absolute;
  bottom: 10px;
  }

/* creates a grid template for the header with two rows and two collumns */
header {
  display: grid;
  grid-template-rows: max-content max-content;
  grid-template-columns: 1fr 35em;
}

/* The following code removes the pickers from the date, time and number form
fields. Otherwise, the text will not be center-aligned in the text field */
input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  display: none;
}

input[type=time]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

input[type=time]::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  display: none;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

input[type=number]::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  display: none;
}

nav li {
  display: inline-block;
}

#buttons {
  position: absolute;
  bottom: 95px;
  right: 40px;
}

#username {
  position: absolute;
  right: 20px;
  top: 50px;
}

/*---------------------------------------------------------------------------*/

/*------------------------------ MEDIA QUERIES ------------------------------*/
/* Mobile phone screen will follow the following guidelines */
@media screen and (max-width: 375px) {
  /* sets the footer on a relative position,
  so it behaves relative to the other elements */
  footer {
    position: relative;
  }

  header {
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
  }

  nav li {
    display: block;
    border: 1px solid #FFF;
    padding: 12px;
  }

  /* Submit and Reset buttons were absolutely positioned before, now they
  will behave as static, so that they will follow nicely on block layout  */
  #buttons {
    position:static;
    margin: 20px;
  }

  #page-name-container {
    margin-top: 5px;
  }

  /* Hide the "logo" and username */
  #ouwc {
    display: none;
  }

  #username {
    display: none;
  }

  /* Hide the | char from the navigation */
  .separator {
    display: none;
  }
}
/*---------------------------------------------------------------------------*/
